@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post">
                <div class="form-group">
                    <label>Country</label>
                    <select id="Country" class="form-control">
                        <option>---Select country---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>State</label>
                    <select id="State" class="form-control">
                        <option>---Select state---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select id="City" class="form-control">
                        <option>---Select city---</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="~/js/Cascade.js"></script>